$bigfullscreen: 1900px;
$fullscreen: 1520px;
$mobile: 768px;
.project_intro_left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 40vw;
  padding: 3.3vw 4vw 3.2vw 2.3vw;
  @media screen and (min-width: $fullscreen) {
    width: 608px;
    padding: 50px 61px 49px 35px;
  }
  @media screen and (max-width: $mobile) {
    width: 100%;
    padding: 5.1vw 4.3vw 9.7vw;
  }
}
.project_intro_left_top {

  @media screen and (min-width: $fullscreen) {

  }
  @media screen and (max-width: $mobile) {
    position: absolute;
    top: 9.7vw;
    left: 5.5vw;
    z-index: 1;
  }
}
.project_intro_title {
  font-size: 3.5vw;
  line-height: 4.2vw;
  @media screen and (min-width: $fullscreen) {
    font-size: 53px;
    line-height: 64px;
  }
  @media screen and (max-width: $mobile) {
    font-size: 8.2vw;
    line-height: 10.1vw;
    max-width: 80vw;
    color: #FFFFFF;
  }
}
.project_intro_item {
  margin-bottom: 2.4vw;
  &:last-child {
    margin-bottom: 0;
  }
  @media screen and (min-width: $fullscreen) {
    margin-bottom: 36px;
  }
  @media screen and (max-width: $mobile) {
    margin-bottom: 4.3vw;
  }
}
.project_intro_item_p {
  font-size: 1.25vw;
  line-height: 1.9vw;
  position: relative;
  sup {
    position: absolute;
    top: -0.4vw;
  }
  @media screen and (min-width: $fullscreen) {
    font-size: 19px;
    line-height: 29px;
    position: relative;
    sup {
      top: -6px;
    }
  }
  @media screen and (max-width: $mobile) {
    font-size: 3.4vw;
    line-height: 5.3vw;
    sup {
      position: absolute;
      top: -0.9vw;
    }
  }
}
.project_intro_item_cost {
  display: inline-block;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  top: 0.1vw;
  left: 0.2vw;
  @media screen and (min-width: $fullscreen) {
    top: 1.5px;
    left: 3px;
  }
  @media screen and (max-width: $mobile) {
    top: 0.8vw;
  }
}
.project_partners {
  margin-bottom: 5.1vw;
  @media screen and (min-width: $fullscreen) {
    margin-bottom: 77px;
  }
  @media screen and (max-width: $mobile) {
    margin-bottom: 10vw;
  }
}
.project_partners_title {
  font-size: 2.8vw;
  line-height: 3.1vw;
  margin-bottom: 5.4vw;
  text-align: center;
  @media screen and (min-width: $fullscreen) {
    font-size: 43px;
    line-height: 47px;
    margin-bottom: 82px;
  }
  @media screen and (max-width: $mobile) {
    font-size: 6.7vw;
    line-height: 7.7vw;
    margin-bottom: 7vw;
  }
}
.project_partners_grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: auto;
  grid-gap: 2.8vw 6.25vw;
  margin: 0 4vw;
  @media screen and (min-width: $fullscreen) {
    grid-gap: 43px 95px;
    margin: 0 61px;
  }
  @media screen and (max-width: $mobile) {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 7.8vw 10vw;
  }
}
.project_partners_grid_narrow {
  grid-template-columns: repeat(3, 1fr);
  margin: 0 22vw;
  @media screen and (min-width: $fullscreen) {
    margin: 0 425px;
  }
  @media screen and (max-width: $mobile) {
    margin: 0 4vw;
    grid-template-columns: repeat(2, 1fr);
  }
}
.project_partner {
  display: flex;
  flex-direction: column;
  gap: 2.4vw;
  @media screen and (min-width: $fullscreen) {
    gap: 36px;
  }
  @media screen and (max-width: $mobile) {
    justify-content: space-between;
  }
}
.project_partner_text {
  font-size: 1.25vw;
  line-height: 1.45vw;
  text-align: center;
  @media screen and (min-width: $fullscreen) {
    font-size: 19px;
    line-height: 22px;
  }
  @media screen and (max-width: $mobile) {
    font-size: 3.4vw;
    line-height: 5.3vw;
  }
}