$bigfullscreen: 1900px;
$fullscreen: 1520px;
$mobile: 768px;
@keyframes popupMessege {
  0% {
    opacity: 0;
    bottom: -5vw;
  }
  80% {
    opacity: 1;
    bottom: 0.3vw;
  }
  100% {
    bottom: 0;
  }
}
.project_intro {
  display: flex;
  justify-content: space-between;
  border-radius: 30px 0 0 30px;
  height: 41.6vw;
  margin-bottom: 7vw;
  position: relative;
  overflow: hidden;
  @media screen and (min-width: $fullscreen) {
    height: 632px;
    margin-bottom: 106px;
  }
  @media screen and (max-width: $mobile) {
    flex-direction: column-reverse;
    border-radius: 30px;
    height: auto;
    margin-bottom: 10vw;
  }
}
.project_intro_image {
  display: block;
  width: 55.5vw;
  @media screen and (min-width: $fullscreen) {
    width: 844px;
  }
  @media screen and (max-width: $mobile) {
    display: none;
  }
}
.project_intro_image_mob {
  display: none;
  @media screen and (max-width: $mobile) {
    display: block;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      top: 0;
      width: 100%;
      height: 71.2vw;
      background: linear-gradient(180deg, rgba(0, 0, 0, 0.55) 0%, rgba(0, 0, 0, 0.00) 100%);
    }
  }
}
.project_intro_item_cost1 {
  background-image: url(../../../svg/icon_coin1.svg);
  width: 1.3vw;
  height: 1.3vw;
  @media screen and (min-width: $fullscreen) {
    width: 20px;
    height: 20px;
  }
  @media screen and (max-width: $mobile) {
    width: 4.6vw;
    height: 4.6vw;
  }
}
.project_intro_item_cost2 {
  background-image: url(../../../svg/icon_coin2.svg);
  width: 2.3vw;
  height: 1.3vw;
  @media screen and (min-width: $fullscreen) {
    width: 35px;
    height: 20px;
  }
  @media screen and (max-width: $mobile) {
    width: 11.7vw;
    height: 4.6vw;
  }
}
.project_intro_item_cost3 {
  background-image: url(../../../svg/icon_coin3.svg);
  width: 3.4vw;
  height: 1.3vw;
  @media screen and (min-width: $fullscreen) {
    width: 52px;
    height: 20px;
  }
  @media screen and (max-width: $mobile) {
    width: 11.7vw;
    height: 4.6vw;
  }
}
.project_task {
  // display: flex;
  // justify-content: space-between;
  border-radius: 30px 0 0 30px;
  overflow: hidden;
  position: relative;
  background-color: #958F7C;
  @media screen and (min-width: $fullscreen) {

  }
  @media screen and (max-width: $mobile) {
    border-radius: 30px 30px 0 0;
    background-color: #262626;
    background-color: transparent;
  }
}
.project_task_person {
  width: 47.9vw;
  margin-left: auto;
  position: relative;
  @media screen and (min-width: $fullscreen) {
    width: 780px;
  }
  @media screen and (min-width: $fullscreen) {

  }
  @media screen and (max-width: $mobile) {
    width: 100%;
  }
}
.project_task_person_status {
  font-size: 1.6vw;
  line-height: 1.9vw;
  color: #FFFFFF;
  position: absolute;
  top: 2.8vw;
  right: 1.9vw;
  @media screen and (min-width: $fullscreen) {
    font-size: 24px;
    line-height: 29px;
    top: 42px;
    right: 29px;
  }
  @media screen and (max-width: $mobile) {
    font-size: 3.4vw;
    line-height: 4.1vw;
    top: 46.6vw;
    top: auto;
    bottom: 22vw;
    right: 3.9vw;
    max-width: 24vw;
    text-align: right;
  }
}
.project_task_ref1 {
  position: absolute;
  top: 15vw;
  @media screen and (min-width: $fullscreen) {
    top: 228px;
  }
  @media screen and (max-width: $mobile) {

  }
}
.project_task_ref2 {
  position: absolute;
  top: 28vw;
  @media screen and (min-width: $fullscreen) {
    top: 425px;
  }
  @media screen and (max-width: $mobile) {

  }
}
.project_task_person_img {
  @media screen and (min-width: $fullscreen) {

  }
  @media screen and (max-width: $mobile) {

  }
}
.project_task_text {
  position: absolute;
  top: 3.2vw;
  left: 1.9vw;
  width: 55vw;
  max-width: 1130px;
  display: flex;
  flex-direction: column;
  gap: 0.8vw;
  @media screen and (min-width: $fullscreen) {
    top: 49px;
    left: 29px;
    // width: 55vw;
    gap: 12px;
  }
  @media screen and (max-width: $mobile) {
    position: relative;
    top: -18.1vw;
    left: 4.3vw;
    right: 4.3vw;
    width: 84.5vw;
    width: calc(100% - 8.6vw);
    gap: 3.9vw;
    // &:before {
    //   content: "";
    //   position: absolute;
    //   width: 100%;
    //   height: 100%;
    //   top: 0;
    //   left: 0;
    //   background-color: #262626;
    // }
  }
}
.project_task_text1 {
  padding: 2.9vw 4.1vw 2.2vw 2.5vw;
  background-color: #F3E8D6;
  border-radius: 30px 30px 0 30px;
  opacity: 0;
  position: relative;
  &.active {
    animation: popupMessege 0.7s;
    opacity: 1;
  }
  .project_task_text_title {
    margin-bottom: 0.5vw;
  }
  @media screen and (min-width: $fullscreen) {
    padding: 44px 62px 33px 38px;
    .project_task_text_title {
      margin-bottom: 8px;
    }
  }
  @media screen and (max-width: $mobile) {
    padding: 5.8vw 6.3vw 6.8vw 4.8vw;
    border-radius: 0 30px 30px 30px;
    .project_task_text_title {
      margin-bottom: 1.7vw;
    }
  }
}
.project_task_text2 {
  padding: 2.6vw 4.1vw 2.2vw 2.5vw;
  background-color: #F3E8D6;
  border-radius: 30px 30px 0 30px;
  opacity: 0;
  position: relative;
  &.active {
    animation: popupMessege 0.7s;
    opacity: 1;
  }
  .project_task_text_p {
    font-style: italic;
  }
  @media screen and (min-width: $fullscreen) {
    padding: 40px 62px 33px 38px;

  }
  @media screen and (max-width: $mobile) {
    padding: 5.8vw 6.3vw 6.8vw 4.8vw;
    border-radius: 0 30px 30px 30px;
  }
}
.project_task_text_title {
  font-size: 2.1vw;
  line-height: 2.6vw;
  margin-bottom: 1vw;
  @media screen and (min-width: $fullscreen) {
    font-size: 32px;
    line-height: 40px;
    margin-bottom: 15px;
  }
  @media screen and (max-width: $mobile) {
    font-size: 4.3vw;
    line-height: 5.3vw;
    margin-bottom: 2vw;
  }
}
.project_task_text_p {
  font-size: 1.45vw;
  line-height: 2.1vw;
  max-width: 862px;
  @media screen and (min-width: $fullscreen) {
    font-size: 22px;
    line-height: 32px;
  }
  @media screen and (max-width: $mobile) {
    font-size: 3.4vw;
    line-height: 4.3vw;
  }
}