$bigfullscreen: 1900px;
$fullscreen: 1520px;
$mobile: 768px;
.project {
  margin-bottom: 6.6vw;
  @media screen and (min-width: $fullscreen) {
    margin-bottom: 95px;
  }
  @media screen and (max-width: $mobile) {
    margin-bottom: 10vw;
  }
}
.project_intro {
  display: flex;
  justify-content: space-between;
  border-radius: 30px 0 0 30px;
  height: 41.6vw;
  margin-bottom: 4.3vw;
  position: relative;
  overflow: hidden;
  @media screen and (min-width: $fullscreen) {
    height: 632px;
    margin-bottom: 65px;
  }
  @media screen and (max-width: $mobile) {
    flex-direction: column-reverse;
    border-radius: 30px;
    height: auto;
    margin-bottom: 10vw;
  }
}
.project_intro_image {
  width: 55.5vw;
  @media screen and (min-width: $fullscreen) {
    width: 844px;
  }
}
.project_intro_image_mob {
  @media screen and (max-width: $mobile) {
    position: relative;
    &::after {
      content: "";
      position: absolute;
      top: 0;
      width: 100%;
      height: 71.2vw;
      background: linear-gradient(180deg, rgba(0, 0, 0, 0.55) 0%, rgba(0, 0, 0, 0.00) 100%);
    }
  }
}
.project_intro {
  .project_intro_image {
    display: block;
  }
  .project_intro_image_mob {
    display: none;
  }
  @media screen and (max-width: $mobile) {
    .project_intro_image {
      display: none;
    }
    .project_intro_image_mob {
      display: block;
    }
  }
}
.project_intro_item_cost1 {
  background-image: url(../../../svg/icon_coin1.svg);
  width: 1.3vw;
  height: 1.3vw;
  @media screen and (min-width: $fullscreen) {
    width: 20px;
    height: 20px;
  }
  @media screen and (max-width: $mobile) {
    width: 4.6vw;
    height: 4.6vw;
  }
}
.project_intro_item_cost2 {
  background-image: url(../../../svg/icon_coin2.svg);
  width: 2.3vw;
  height: 1.3vw;
  @media screen and (min-width: $fullscreen) {
    width: 35px;
    height: 20px;
  }
  @media screen and (max-width: $mobile) {
    width: 11.7vw;
    height: 4.6vw;
  }
}
.project_intro_item_cost3 {
  background-image: url(../../../svg/icon_coin3.svg);
  width: 3.4vw;
  height: 1.3vw;
  @media screen and (min-width: $fullscreen) {
    width: 52px;
    height: 20px;
  }
  @media screen and (max-width: $mobile) {
    width: 11.7vw;
    height: 4.6vw;
  }
}
.project__title {
  font-size: 2.8vw;
  line-height: 3.1vw;
  margin-bottom: 3.9vw;
  @media screen and (min-width: $fullscreen) {
    font-size: 43px;
    line-height: 47px;
    margin-bottom: 59px;
  }
  @media screen and (max-width: $mobile) {
    font-size: 6.8vw;
    line-height: 7.7vw;
    margin-bottom: 4.8vw;
  }
}
.project__p {
  font-size: 1.25vw;
  line-height: 1.8vw;
  margin-bottom: 0.8vw;
  &:last-child {
    margin-bottom: 0;
  }
  @media screen and (min-width: $fullscreen) {
    font-size: 19px;
    line-height: 27px;
    margin-bottom: 12px;
  }
  @media screen and (max-width: $mobile) {
    font-size: 3.4vw;
    line-height: 5.1vw;
    margin-bottom: 2.4vw;
  }
}
.project__lefttitle_righttext {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1.7vw;
  margin-bottom: 4.2vw;
  @media screen and (min-width: $fullscreen) {
    grid-gap: 26px;
    margin-bottom: 64px;
  }
  @media screen and (max-width: $mobile) {
    grid-template-columns: 1fr;
    grid-gap: 0;
    margin-bottom: 7vw;
  }
}
.project__lefttitle_righttext__title {
  font-size: 2.8vw;
  line-height: 3.1vw;
  max-width: 28vw;
  @media screen and (min-width: $fullscreen) {
    font-size: 43px;
    line-height: 47px;
  }
  @media screen and (max-width: $mobile) {
    font-size: 6.8vw;
    line-height: 7.7vw;
    margin-bottom: 4.8vw;
    max-width: 100%;
  }
}
.project__lefttitle_righttext__title_long {
  max-width: 35vw;
  @media screen and (max-width: $mobile) {
    max-width: 100%;
  }
}
.project__text_center900 {
  width: 62.8vw;
  margin: 0 auto;
  margin-bottom: 2.8vw;
  @media screen and (min-width: $fullscreen) {
    width: 955px;
    margin-bottom: 43px;
  }
  @media screen and (max-width: $mobile) {
    width: 100%;
    margin-bottom: 7vw;
  }
}
.project__text_center700 {
  width: 50vw;
  margin: 0 auto;
  margin-bottom: 2.8vw;
  @media screen and (min-width: $fullscreen) {
    width: 760px;
    margin-bottom: 43px;
  }
  @media screen and (max-width: $mobile) {
    width: 100%;
    margin-bottom: 7vw;
  }
}
.project__one_image_link {
  display: block;
  width: 100%;
  margin-bottom: 1.7vw;
  @media screen and (min-width: $fullscreen) {
    margin-bottom: 26px;
  }
  @media screen and (max-width: $mobile) {
    margin-bottom: 3.4vw;
  }
}
.project__narrow_block {
  @media screen and (min-width: $fullscreen) {
    padding-right: 8vw;
    padding-left: 8vw;
  }
  @media screen and (max-width: $mobile) {
    padding-right: 0;
    padding-left: 0;
  }
}
.project__one_image {
  width: 100%;
  height: 100%;
}
.project__leftimage_righttext {
  display: flex;
  justify-content: space-between;
  @media screen and (min-width: $fullscreen) {
    padding-right: 8vw;
    padding-left: 8vw;
  }
  @media screen and (max-width: $mobile) {
    flex-direction: column;
    gap: 7vw;
    margin-bottom: 7vw;
    padding-right: 0;
    padding-left: 0;
  }
}
.project__leftimage_righttext_link {
  width: 48vw;
  @media screen and (min-width: $fullscreen) {
    width: 608px;
  }
  @media screen and (max-width: $mobile) {
    width: 100%;
  }
}
.project__leftimage_righttext_text {
  width: 39.3vw;
  margin-right: 3.6vw;
  margin-top: 8.4vw;
  @media screen and (min-width: $fullscreen) {
    width: 31.3vw;
    max-width: 700px;
    margin-top: 128px;
    margin-right: 0;
  }
  @media screen and (max-width: $mobile) {
    width: 100%;
    margin: 0;
  }
}
.project__leftimage_righttext_text_p {
  font-size: 1.45vw;
  line-height: 2.2vw;
  margin-bottom: 0.8vw;
  &:last-child {
    margin-bottom: 0;
  }
  @media screen and (min-width: $fullscreen) {
    font-size: 22px;
    line-height: 33px;
    margin-bottom: 12px;
  }
  @media screen and (max-width: $mobile) {
    font-size: 3.4vw;
    line-height: 5.1vw;
    margin-bottom: 2.4vw;
  }
}
.project__grid_2flex {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1.7vw;
  margin-bottom: 1.7vw;
  @media screen and (min-width: $fullscreen) {
    grid-gap: 26px;
    margin-bottom: 26px;
  }
  @media screen and (max-width: $mobile) {
    grid-gap: 3.4vw;
    margin-bottom: 3.4vw;
  }
}
.project__grid_flex {
  display: flex;
  flex-direction: column;
  gap: 1.7vw;
  @media screen and (min-width: $fullscreen) {
    gap: 26px;
  }
  @media screen and (max-width: $mobile) {
    gap: 3.4vw;
  }
}
.project__three_inline {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1.7vw;
  margin-bottom: 1.7vw;
  @media screen and (min-width: $fullscreen) {
    grid-gap: 26px;
    margin-bottom: 26px;
  }
  @media screen and (max-width: $mobile) {
    grid-gap: 3.4vw;
    margin-bottom: 3.4vw;
  }
}
.project__three_with_padding {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 6.2vw;
  padding: 4.9vw 4.9vw 0 4.3vw;
  margin-bottom: 6.6vw;
  @media screen and (min-width: $fullscreen) {
    grid-gap: 94px;
    padding: 75px 74px 0 65px;
    margin-bottom: 100px;
  }
}
.project__three_with_padding_fimg {
  grid-column: 1/2;
  grid-row: 1/3;
  margin: auto 0;
}
.project__two_inline {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1.7vw;
  margin-bottom: 1.7vw;
  @media screen and (min-width: $fullscreen) {
    grid-gap: 26px;
    margin-bottom: 26px;
  }
  @media screen and (max-width: $mobile) {
    grid-gap: 3.4vw;
    margin-bottom: 3.4vw;
  }
}
.project__two_inline_bigrightimg {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 5.1vw;
  margin-bottom: 5vw;
  @media screen and (min-width: $fullscreen) {
    grid-gap: 78px;
    margin-bottom: 76px;
  }
  @media screen and (max-width: $mobile) {
    grid-template-columns: 1fr;
    grid-gap: 7vw;
  }
}
.project__two_inline_bigrightimg_left {
  display: flex;
  flex-direction: column;
  gap: 1.9vw;
  @media screen and (min-width: $fullscreen) {
    gap: 29px;
  }
  @media screen and (max-width: $mobile) {
    flex-direction: column-reverse;
    gap: 3.4vw;
  }
}
.project__two_inline_mediumrightimg {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1.7vw;
  margin-bottom: 5vw;
  @media screen and (min-width: $fullscreen) {
    grid-gap: 26px;
    margin-bottom: 76px;
  }
  @media screen and (max-width: $mobile) {
    grid-template-columns: 1fr;
    grid-gap: 3.4vw;
  }
}
.project__two_inline_mediumrightimg_left {
  display: flex;
  flex-direction: column;
  gap: 3.8vw;
  @media screen and (min-width: $fullscreen) {
    gap: 58px;
  }
  @media screen and (max-width: $mobile) {
    gap: 7vw;
  }
}
.project__bigmargin {
  margin-bottom: 5vw;
  @media screen and (min-width: $fullscreen) {
    margin-bottom: 76px;
  }
  @media screen and (max-width: $mobile) {
    margin-bottom: 7vw;
  }
}
.project_video {
  height: 53.7vw;
  @media screen and (min-width: $bigfullscreen) {
    height: 1040px;
  }
  @media screen and (max-width: $mobile) {
    height: 52vw;
  }
}
