$bigfullscreen: 1900px;
$fullscreen: 1520px;
$mobile: 768px;
.contacts {
  display: flex;
  border-radius: 30px 30px 0 0;
  background: linear-gradient(180deg, #3E393B 0%, #231F20 100%);
  margin-bottom: 1.8vw;
  overflow: hidden;
  @media screen and (min-width: $fullscreen) {
    margin-bottom: 27px;
  }
  @media screen and (max-width: $mobile) {
    flex-direction: column;
    margin-bottom: 6.3vw;
  }
}
.contacts_title {
  font-size: 3.5vw;
  line-height: 4.2vw;
  color: #FFFFFF;
  margin-bottom: 2.5vw;
  @media screen and (min-width: $fullscreen) {
    font-size: 53px;
    line-height: 64px;
    margin-bottom: 38px;
  }
  @media screen and (max-width: $mobile) {
    font-size: 8.2vw;
    line-height: 9.7vw;
    margin-bottom: 7vw;
  }
}
.contacts_left {
  padding: 4.5vw 2.3vw 10.2vw;
  width: 50%;
  @media screen and (min-width: $fullscreen) {
    padding: 68px 35px 155px;
  }
  @media screen and (max-width: $mobile) {
    width: 100%;
    padding: 10.4vw 5.1vw;
  }
}
.contacts_map {
  width: 50%;
  background-image: url(../../images/map_bcg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  @media screen and (max-width: $mobile) {
    width: 100%;
    height: 100vw;
  }
}
.contacts_quote {
  background-color: rgba(0, 0, 0, 0.10);
  border: 1px solid #6B6B6B;
  border-radius: 30px 30px 0 30px;
  padding: 3.4vw 3.2vw 3.4vw 1.8vw;
  margin-bottom: 3.8vw;
  @media screen and (min-width: $fullscreen) {
    padding: 52px 49px 52px 27px;
    margin-bottom: 58px;
  }
  @media screen and (max-width: $mobile) {
    padding: 8.9vw 7.2vw 9.4vw 4.1vw;
    margin-bottom: 8vw;
  }
}
.contacts_quote_span {
  display: inline-block;
  font-size: 1.9vw;
  line-height: 2.4vw;
  color: #FFFFFF;
  margin-bottom: 1.5vw;
  @media screen and (min-width: $fullscreen) {
    font-size: 29px;
    line-height: 36px;
    margin-bottom: 23px;
  }
  @media screen and (max-width: $mobile) {
    font-size: 5.8vw;
    line-height: 7vw;
    margin-bottom: 2.4vw;
  }
}
.contacts_quote_p {
  font-size: 1.25vw;
  line-height: 1.7vw;
  color: #FFFFFF;
  margin-bottom: 1vw;
  max-width: 612px;
  &:last-child {
    margin-bottom: 0;
  }
  @media screen and (min-width: $fullscreen) {
    font-size: 19px;
    line-height: 26px;
    margin-bottom: 15px;
  }
  @media screen and (max-width: $mobile) {
    font-size: 3.4vw;
    line-height: 4.3vw;
  }
}
.contacts_text {
  display: flex;
  justify-content: space-between;
  @media screen and (min-width: $fullscreen) {
    gap: 60px;
  }
  @media screen and (max-width: $mobile) {
    flex-direction: column-reverse;
  }
}
.contacts_text1 {
  width: 20vw;
  max-width: 460px;
  @media screen and (max-width: $mobile) {
    margin-bottom: 10.9vw;
    width: 100%;
  }
}
.contacts_text_p {
  font-size: 1.45vw;
  line-height: 1.9vw;
  color: #FFFFFF;
  margin-bottom: 1.8vw;
  @media screen and (min-width: $fullscreen) {
    font-size: 22px;
    line-height: 29px;
    margin-bottom: 27px;
  }
  @media screen and (max-width: $mobile) {
    font-size: 4.3vw;
    line-height: 5.8vw;
    margin-bottom: 5.1vw;
    max-width: 64.5vw;
  }
}
.contacts_text_p_small {
  font-size: 1.25vw;
  line-height: 1.8vw;
  color: #FFFFFF;
  max-width: 400px;
  @media screen and (min-width: $fullscreen) {
    font-size: 19px;
    line-height: 27px;
  }
  @media screen and (max-width: $mobile) {
    font-size: 4.3vw;
    line-height: 5.8vw;
    max-width: 64.5vw;
  }
}
.contacts_text2 {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.6vw;
  @media screen and (min-width: $fullscreen) {
    margin-bottom: 15px;
  }
  @media screen and (max-width: $mobile) {
    margin-bottom: 0;
  }
}
.contacts_flex {
  width: 16vw;
  @media screen and (min-width: $fullscreen) {
    width: 240px;
  }
  @media screen and (max-width: $mobile) {
    width: 100%;
  }
}
.contacts_flex_small {
  @media screen and (max-width: $mobile) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 6vw;
  }
}
.contacts_link {
  display: inline-block;
  font-size: 1.8vw;
  line-height: 2vw;
  color: #FFFFFF;
  margin-bottom: 0.8vw;
  @media screen and (min-width: $fullscreen) {
    font-size: 27px;
    line-height: 30px;
    margin-bottom: 12px;
  }
  @media screen and (max-width: $mobile) {
    font-size: 4.3vw;
    line-height: 5.8vw;
    margin-bottom: 0;
  }
}
.contacts_mail {
  display: inline-block;
  font-size: 1.6vw;
  line-height: 2vw;
  color: #FFFFFF;
  margin-bottom: 0.8vw;
  @media screen and (min-width: $fullscreen) {
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 12px;
  }
  @media screen and (max-width: $mobile) {
    font-size: 4.3vw;
    line-height: 5.8vw;
    margin-bottom: 0;
  }
}
.contacts_social {
  display: flex;
  justify-content: space-between;
  gap: 1.1vw;
  margin-bottom: 2.6vw;
  @media screen and (min-width: $fullscreen) {
    gap: 17px;
    margin-bottom: 40px;
  }
  @media screen and (max-width: $mobile) {
    gap: 3.5vw;
    margin-bottom: 0;
  }
}
.contacts_social_link {
  width: 4vw;
  height: 4vw;
  background-size: contain;
  background-repeat: no-repeat;
  @media screen and (min-width: $fullscreen) {
    width: 61px;
    height: 61px;
  }
  @media screen and (max-width: $mobile) {
    width: 8.55vw;
    height: 8.55vw;
  }
}
.contacts_social_telegram {
  background-image: url(../../svg/telegram.svg);
}
.contacts_social_viber {
  background-image: url(../../svg/viber.svg);
}
.contacts_social_wp {
  background-image: url(../../svg/whatsapp.svg);
}
.contacts_button {
  font-size: 1.45vw;
  line-height: 1.7vw;
  text-align: center;
  color: #FFFFFF;
  padding: 1.2vw 1.2vw;
  background-color: #000000;
  border: none;
  border-radius: 8px;
  width: 100%;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  &:hover {
    background-color: #373737;
    transition: all 0.5s ease-in-out;
  }
  @media screen and (min-width: $fullscreen) {
    font-size: 22px;
    line-height: 26px;
    padding: 18px 18px;
  }
  @media screen and (max-width: $mobile) {
    font-size: 5.1vw;
    line-height: 6vw;
    padding: 4.6vw 3.3vw;
    width: 100%;
    background-color: #000000;
  }
}
.contacts_gallery {
  display: grid;
  grid-template-columns: 39.7vw 21.2vw 21.8vw 43.8vw 44.2vw 44.2vw 21.3vw 20.5vw 44.2vw 43.8vw;
  grid-gap: 0.75vw;
  margin-bottom: 3vw;
  @media screen and (min-width: $fullscreen) {
    grid-template-columns: 603px 322px 331px 666px 672px 672px 324px 312px 672px 666px;
    grid-gap: 11px;
    margin-bottom: 45px;
  }
  @media screen and (max-width: $mobile) {
    grid-template-columns: 67.4vw 36vw 37vw 74.4vw 75.1vw 75.1vw 36.2vw 34.8vw 75.1vw 74.2vw;
    grid-gap: 2vw;
    margin-bottom: 6vw;
  }
}
.contacts_gallery_img {
  height: 29.4vw;
  @media screen and (min-width: $fullscreen) {
    height: 447px;
  }
  @media screen and (max-width: $mobile) {
    height: 50vw;
  }
}