$bigfullscreen: 1900px;
$fullscreen: 1520px;
$mobile: 768px;
.services_intro {
  border-radius: 30px;
  position: relative;
  overflow: hidden;
  height: 41.7vw;
  padding: 3.3vw 2.5vw;
  margin-bottom: 4.1vw;
  max-height: 793px;
  @media screen and (min-width: $fullscreen) {
    padding: 50px 38px;
    margin-bottom: 62px;
  }
  @media screen and (max-width: $mobile) {
    padding: 9.7vw 5.1vw;
    height: 119.3vw;
    margin-bottom: 8.45vw;
  }
}
.services_intro_facade {
  background-image: url(../../images/services/fasad/intro.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  @media screen and (max-width: $mobile) {
    background-position: right -9vw center;
  }
}
.services_intro_building {
  background-image: url(../../images/services/building/intro.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  @media screen and (max-width: $mobile) {
    background-image: url(../../images/services/building/intro_mob.jpg);
  }
}
.services_intro_supervision {
  background-image: url(../../images/services/supervision/intro.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  @media screen and (max-width: $mobile) {
    background-image: url(../../images/services/supervision/intro_mob.jpg);
  }
}
.services_intro_approval {
  background-image: url(../../images/services/approval/intro.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  @media screen and (max-width: $mobile) {
    background-image: url(../../images/services/approval/intro_mob.jpg);
  }
}
.services_intro_title {
  font-size: 3.5vw;
  line-height: 4.2vw;
  color: #FFFFFF;
  position: relative;
  @media screen and (min-width: $fullscreen) {
    font-size: 53px;
    line-height: 64px;
  }
  @media screen and (max-width: $mobile) {
    font-size: 10.1vw;
    line-height: 11.1vw;
  }
}
// .services_breadcrumbs {
//   display: flex;
//   position: relative;
//   padding-left: 4.6vw;
//   margin-bottom: 1.25vw;
//   &::before {
//     content: "";
//     position: absolute;
//     width: 3.5vw;
//     height: 1px;
//     left: 0;
//     // top: 0.65vw;
//     top: 50%;
//     transform: translate(0, -50%);
//     background-color: #E8E8E8;
//   }
//   @media screen and (min-width: $fullscreen) {
//     padding-left: 70px;
//     // margin-bottom: 19px;
//     &::before {
//       width: 53px;
//       // top: 10px;
//     }
//   }
//   @media screen and (max-width: $mobile) {
//     padding-left: 12.6vw;
//     margin-bottom: 5.1vw;
//     &::before {
//       width: 9.6vw;
//       top: 1.7vw;
//     }
//   }
// }
// .services_breadcrumbs_li {
//   font-size: 1.25vw;
//   line-height: 1.5vw;
//   color: #FFFFFF;
//   position: relative;
//   &:not(:first-child) {
//     padding-left: 2.4vw;
//   }
//   &:not(:first-child)::before {
//     content: "";
//     position: absolute;
//     width: 1.1vw;
//     height: 1px;
//     left: 0.6vw;
//     // top: 0.65vw;
//     top: 50%;
//     transform: translate(0, -50%);
//     background-color: #E8E8E8;
//   }
//   @media screen and (min-width: $fullscreen) {
//     font-size: 19px;
//     line-height: 23px;
//     &:not(:first-child) {
//       padding-left: 36px;
//     }
//     &:not(:first-child)::before {
//       width: 17px;
//       left: 9px;
//       // top: 10px;
//     }
//   }
//   @media screen and (max-width: $mobile) {
//     font-size: 3.4vw;
//     line-height: 4.1vw;
//     &:not(:first-child) {
//       padding-left: 6.3vw;
//     }
//     &:not(:first-child)::before {
//       width: 2.9vw;
//       left: 1.6vw;
//       top: 1.7vw;
//     }
//   }
// }
.services_intro_text {
  margin-bottom: 2.9vw;
  position: relative;
  @media screen and (min-width: $fullscreen) {
    margin-bottom: 44px;
  }
  @media screen and (max-width: $mobile) {
    margin-bottom: 8.45vw;
  }
}
.services_intro_apart_text {
  br {
    display: none;
  }
  @media screen and (max-width: $mobile) {
    br {
      display: block;
    }
    .services_intro_text_p {
      padding-bottom: 22.5vw;
    }
  }
}
.services_intro_house_text {
  br {
    display: block;
  }
  @media screen and (max-width: $mobile) {
    br {
      display: none;
    }
    .services_intro_text_p {
      padding-bottom: 38.5vw;
    }
  }
}
.services_intro_office_text {
  @media screen and (max-width: $mobile) {
    .services_intro_text_p {
      max-width: 78%;
      padding-bottom: 32.5vw;
    }
  }
}
.services_intro_facade_text {
  @media screen and (max-width: $mobile) {
    .services_intro_text_p {
      max-width: 78%;
      padding-bottom: 41vw;
    }
  }
}
.services_intro_building_text {
  @media screen and (max-width: $mobile) {
    .services_intro_text_p {
      max-width: 78%;
      padding-bottom: 26vw;
    }
  }
}
.services_intro_text_p {
  font-size: 3.1vw;
  line-height: 3.5vw;
  margin-bottom: 1.1vw;
  width: 78.8vw;
  @media screen and (min-width: $fullscreen) {
    font-size: 47px;
    line-height: 53px;
    margin-bottom: 17px;
    max-width: 1700px;
  }
  // @media screen and (min-width: $bigfullscreen) {
  //   max-width: 1700px;
  // }
  @media screen and (max-width: $mobile) {
    br {
      display: block;
    }
    font-size: 5.8vw;
    line-height: 7.7vw;
    margin-bottom: 0;
    max-width: 95%;
  }
}
.services_intro_text_span {
  display: inline-block;
  font-size: 1.5vw;
  line-height: 2.1vw;
  max-width: 47.7vw;
  margin-left: 36.4vw;
  @media screen and (min-width: $fullscreen) {
    font-size: 23px;
    line-height: 32px;
    max-width: 725px;
    margin-left: 553px;
  }
  @media screen and (max-width: $mobile) {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 3.4vw;
    line-height: 5.3vw;
    max-width: 47.7vw;
    margin-left: 0;
  }
}
.services_portfolio {
  @media screen and (min-width: $fullscreen) {

  }
  @media screen and (max-width: $mobile) {

  }
}
.services_portfolio_title {
  font-size: 2.8vw;
  line-height: 3.3vw;
  margin-bottom: 2.5vw;
  @media screen and (min-width: $fullscreen) {
    font-size: 43px;
    line-height: 50px;
    margin-bottom: 38px;
  }
  @media screen and (max-width: $mobile) {
    font-size: 6.8vw;
    line-height: 7.7vw;
    margin-bottom: 7vw;
  }
}


.services_zndp {
  margin-bottom: 3.8vw;
  background-color: #F5F5F5;
  border-radius: 30px;
  padding: 4.2vw 4.2vw 3.3vw 1.9vw;
  background-image: url(../../images/zndp_catalog.png);
  background-size: 38.8vw;
  background-repeat: no-repeat;
  background-position: bottom right 3.5vw;
  @media screen and (min-width: $fullscreen) {
    margin-bottom: 58px;
    padding: 64px 64px 50px 29px;
    background-size: 580px;
    // background-position: bottom right 53px;
  }
  @media screen and (max-width: $mobile) {
    margin-bottom: 9.2vw;
    padding: 8.7vw 7.5vw 12.1vw 4.1vw;
    background-image: url(../../images/zndp_catalog_mob.png);
    background-size: 37.9vw;
    background-position: bottom 8.2vw right;
  }
}
.services_zndp_title {
  font-size: 2.8vw;
  line-height: 3.8vw;
  margin-bottom: 1.4vw;
  @media screen and (min-width: $fullscreen) {
    font-size: 43px;
    line-height: 58px;
    margin-bottom: 21px;
  }
  @media screen and (max-width: $mobile) {
    font-size: 6.7vw;
    line-height: 7.7vw;
    margin-bottom: 3.4vw;
    max-width: 70%;
  }
}
.services_zndp_text {
  max-width: 45.8vw;
  @media screen and (min-width: $fullscreen) {
    max-width: 700px;
  }
  @media screen and (min-width: $bigfullscreen) {
    max-width: 870px;
  }
  @media screen and (max-width: $mobile) {
    max-width: 100%;
  }
}
.services_zndp_text_p {
  font-size: 1.25vw;
  line-height: 1.8vw;
  margin-bottom: 1.2vw;
  &:last-child {
    margin-bottom: 0;
  }
  @media screen and (min-width: $fullscreen) {
    font-size: 19px;
    line-height: 27px;
    margin-bottom: 18px;
  }
  @media screen and (max-width: $mobile) {
    font-size: 3.4vw;
    line-height: 4.3vw;
    margin-bottom: 4.3vw;
    &:last-child {
      max-width: 48.8vw;
    }
  }
}
.services__lefttitle_righttext {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2.4vw;
  gap: 4%;
  @media screen and (min-width: $fullscreen) {
    margin-bottom: 36px;
  }
  @media screen and (max-width: $mobile) {
    flex-direction: column;
    margin-bottom: 10.8vw;
  }
}
.services__lefttitle_righttext__bigmargin {
  margin-bottom: 4.3vw;
  @media screen and (min-width: $fullscreen) {
    margin-bottom: 65px;
  }
  @media screen and (max-width: $mobile) {
    margin-bottom: 10vw;
  }
}
.services__lefttitle_righttext__title {
  font-size: 2.8vw;
  line-height: 3.1vw;
  width: 34%;
  @media screen and (min-width: $fullscreen) {
    font-size: 42px;
    line-height: 47px;
  }
  @media screen and (max-width: $mobile) {
    font-size: 6.7vw;
    line-height: 7.7vw;
    margin-bottom: 7vw;
    width: 100%;
  }
}
.services__lefttitle_righttext__text {
  width: 62%;
  margin-right: 4.8vw;
  @media screen and (min-width: $fullscreen) {
    margin-right: 73px;
  }
  @media screen and (max-width: $mobile) {
    width: 100%;
    margin-right: 2.9vw;
  }
}
.services__lefttitle_righttext__text_title {
  font-size: 2.15vw;
  line-height: 2.4vw;
  margin-bottom: 1.7vw;
  @media screen and (min-width: $fullscreen) {
    font-size: 33px;
    line-height: 36px;
    margin-bottom: 26px;
  }
  @media screen and (max-width: $mobile) {
    font-size: 5.1vw;
    line-height: 7.2vw;
    margin-bottom: 4.3vw;
  }
}
// .services__lefttitle_righttext__text_p {
//   font-size: 1.25vw;
//   line-height: 1.8vw;
//   margin-bottom: 1.7vw;
//   @media screen and (min-width: $fullscreen) {
//     font-size: 19px;
//     line-height: 27px;
//     margin-bottom: 26px;
//   }
//   @media screen and (max-width: $mobile) {
//     font-size: 5.1vw;
//     line-height: 7.2vw;
//     margin-bottom: 4.3vw;
//   }
// }
.services__lefttitle_righttext__wrap {
  margin-bottom: 3.8vw;
  @media screen and (min-width: $fullscreen) {
    margin-bottom: 58px;
  }
}
.services__lefttitle_righttext__text_span {
  display: inline-block;
  font-size: 1.25vw;
  line-height: 1.8vw;
  margin-bottom: 1.7vw;
  &:last-child {
    margin-bottom: 0;
  }
  @media screen and (min-width: $fullscreen) {
    font-size: 19px;
    line-height: 27px;
    margin-bottom: 26px;
  }
  @media screen and (max-width: $mobile) {
    font-size: 3.4vw;
    line-height: 4.3vw;
    margin-bottom: 3vw;
  }
}
.services__lefttitle_righttext__text_li {
  font-size: 1.45vw;
  line-height: 2vw;
  position: relative;
  padding-left: 2.8vw;
  margin-bottom: 1.7vw;
  &::before {
    content: "";
    position: absolute;
    width: 1.45vw;
    height: 1px;
    left: 0;
    top: 0.9vw;
    background-color: #000000;
  }
  &:last-child {
    margin-bottom: 0;
  }
  @media screen and (min-width: $fullscreen) {
    font-size: 22px;
    line-height: 30px;
    padding-left: 43px;
    margin-bottom: 26px;
    &::before {
      width: 22px;
      top: 14px;
    }
  }
  @media screen and (max-width: $mobile) {
    font-size: 3.4vw;
    line-height: 4.3vw;
    padding-left: 8.45vw;
    margin-bottom: 6vw;
    &::before {
      width: 5.1vw;
      top: 1.8vw;
    }
  }
}
.services__estimate {
  display: flex;
  justify-content: space-between;
  border-radius: 30px;
  background: linear-gradient(180deg, #231F20 0%, #3E393B 100%);
  padding: 4.2vw 2vw 4.8vw 1.9vw;
  margin-bottom: 4.2vw;
  @media screen and (min-width: $fullscreen) {
    padding: 64px 30px 73px 29px;
    margin-bottom: 64px;
  }
  @media screen and (max-width: $mobile) {
    flex-direction: column;
    padding: 10.9vw 5.1vw 12.3vw;
    margin-bottom: 8.9vw;
  }
}
.services__estimate_left {
  width: 45%;
  @media screen and (max-width: $mobile) {
    width: 100%;
    margin-bottom: 8vw;
  }
}
.services__estimate_title {
  font-size: 2.8vw;
  line-height: 3.3vw;
  margin-bottom: 1.6vw;
  color: #FFFFFF;
  @media screen and (min-width: $fullscreen) {
    font-size: 43px;
    line-height: 50px;
    margin-bottom: 24px;
  }
  @media screen and (max-width: $mobile) {
    font-size: 6.8vw;
    line-height: 7.7vw;
    margin-bottom: 4.1vw;
  }
}
.services__estimate_p {
  font-size: 1.25vw;
  line-height: 1.8vw;
  color: #FFFFFF;
  margin-bottom: 1.9vw;
  &:last-child {
    margin-bottom: 0;
  }
  @media screen and (min-width: $fullscreen) {
    font-size: 19px;
    line-height: 27px;
    margin-bottom: 29px;
  }
  @media screen and (max-width: $mobile) {
    font-size: 3.4vw;
    line-height: 4.3vw;
    margin-bottom: 3.6vw;
  }
}
.services__estimate_right {
  width: 48%;
  @media screen and (max-width: $mobile) {
    width: 100%;
  }
}
.services__estimate_right_text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #6D6D6D;
  border-radius: 30px;
  width: 100%;
  height: 100%;
  @media screen and (max-width: $mobile) {
    min-height: 50vw;
  }
}
.services__estimate_right_text_p {
  font-size: 1.8vw;
  line-height: 2vw;
  color: #FFFFFF;
  margin-bottom: 1.8vw;
  @media screen and (min-width: $fullscreen) {
    font-size: 27px;
    line-height: 30px;
    margin-bottom: 27px;
  }
  @media screen and (max-width: $mobile) {
    font-size: 5.1vw;
    line-height: 6.3vw;
    margin-bottom: 5.1vw;
    max-width: 50vw;
    text-align: center;
  }
}
.services__estimate_right_text_cost {
  font-size: 2.8vw;
  line-height: 3vw;
  font-weight: 500;
  color: #FFFFFF;
  @media screen and (min-width: $fullscreen) {
    font-size: 43px;
    line-height: 46px;
  }
  @media screen and (max-width: $mobile) {
    font-size: 9.9vw;
    line-height: 9.9vw;
  }
}
.services_schedule {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #F5F5F5;
  border-radius: 30px;
  padding: 4.4vw 4.6vw 4.4vw 2.4vw;
  margin-bottom: 4.6vw;
  @media screen and (min-width: $fullscreen) {
    padding: 67px 70px 67px 36px;
    margin-bottom: 70px;
  }
  @media screen and (max-width: $mobile) {
    flex-direction: column;
    padding: 9.2vw 5.6vw 7.2vw 3.8vw;
    margin-bottom: 8.9vw;
  }
}
.services_schedule_title {
  font-size: 2.8vw;
  line-height: 3vw;
  width: 26%;
  @media screen and (min-width: $fullscreen) {
    font-size: 43px;
    line-height: 46px;
  }
  @media screen and (max-width: $mobile) {
    font-size: 6.7vw;
    line-height: 7.7vw;
    margin-bottom: 3.6vw;
    width: 100%;
  }
}
.services_schedule_text {
  font-size: 1.25vw;
  line-height: 1.8vw;
  width: 49%;
  @media screen and (min-width: $fullscreen) {
    font-size: 19px;
    line-height: 27px;
  }
  @media screen and (max-width: $mobile) {
    font-size: 3.4vw;
    line-height: 4.3vw;
    width: 100%;
  }
}
.services_gallery {
  margin-bottom: 4.6vw;
  @media screen and (min-width: $fullscreen) {
    margin-bottom: 70px;
  }
  @media screen and (max-width: $mobile) {
    margin-bottom: 8.9vw;
  }
}
.services_gallery_flex {
  display: flex;
  flex-direction: column;
  gap: 0.9vw;
  @media screen and (min-width: $fullscreen) {
    gap: 13px;
  }
  @media screen and (max-width: $mobile) {
    gap: 3vw;
  }
}
.services_gallery_grid1 {
  display: grid;
  grid-template-columns: 39vw 17.4vw 39vw 17.4vw 39vw 17.4vw 17.4vw 39vw 17.4vw;
  grid-gap: 0.9vw;
  @media screen and (min-width: $fullscreen) {
    grid-template-columns: 593px 265px 593px 265px 593px 265px 265px 593px 265px;
    grid-gap: 13px;
  }
  @media screen and (max-width: $mobile) {
    grid-template-columns: 68vw 30.5vw 68vw 30.5vw 68vw 30.5vw 30.5vw 68vw 30.5vw;
    grid-gap: 3vw;
  } 
}
.services_gallery_grid2 {
  display: grid;
  grid-template-columns: 17.4vw 39vw 17.4vw 39vw 17.4vw 17.4vw 39vw 17.4vw 17.4vw 17.4vw 17.4vw;
  grid-gap: 0.9vw;
  @media screen and (min-width: $fullscreen) {
    grid-template-columns: 265px 593px 265px 593px 265px 265px 593px 265px 265px 265px 265px;
    grid-gap: 13px;
  }
  @media screen and (max-width: $mobile) {
    grid-template-columns: 30.5vw 68vw 30.5vw 68vw 30.5vw 30.5vw 68vw 30.5vw 30.5vw 30.5vw 30.5vw;
    grid-gap: 3vw;
  }
}
.services_gallery_img {
  height: 26.1vw;
  @media screen and (min-width: $fullscreen) {
    height: 397px;
  }
  @media screen and (max-width: $mobile) {
    height: 46vw;
  }
}
.services_term {
  margin-bottom: 4.3vw;
  @media screen and (min-width: $fullscreen) {
    margin-bottom: 65px;
  }
  @media screen and (max-width: $mobile) {
    margin-bottom: 8.9vw;
  }
}
.services_term_title {
  font-size: 2.8vw;
  line-height: 3vw;
  margin-bottom: 1.4vw;
  @media screen and (min-width: $fullscreen) {
    font-size: 43px;
    line-height: 46px;
    margin-bottom: 21px;
  }
  @media screen and (max-width: $mobile) {
    font-size: 6.7vw;
    line-height: 7.7vw;
    margin-bottom: 2.6vw;
  }
}
.services_term_text {
  font-size: 1.4vw;
  line-height: 1.7vw;
  margin-bottom: 2.4vw;
  @media screen and (min-width: $fullscreen) {
    font-size: 21px;
    line-height: 25px;
    margin-bottom: 36px;
  }
  @media screen and (max-width: $mobile) {
    font-size: 3.4vw;
    line-height: 4.3vw;
    margin-bottom: 7.2vw;
    max-width: 66vw;
  }
}
.services_term_wrap {
  border-radius: 30px 30px 0px 0px;
  background: linear-gradient(180deg, #3E393B 0%, #231F20 100%);
  padding: 2.8vw 2.1vw 2.4vw;
  @media screen and (min-width: $fullscreen) {
    padding: 43px 32px 36px;
  }
  @media screen and (max-width: $mobile) {
    padding: 9.4vw 5.1vw 6.9vw;
  }
}
.services_term_head {
  display: flex;
  gap: 2.4vw;
  @media screen and (min-width: $fullscreen) {
    gap: 36px;
  }
  @media screen and (max-width: $mobile) {
    display: grid;
    grid-template-columns: repeat(5, 32vw);
    grid-template-rows: auto;
    grid-gap: 2.3vw;
  }
}
.services_term_head_item {
  border-radius: 20px;
  border: 1px solid #767676;
  font-size: 1.25vw;
  line-height: 1.5vw;
  color: #FFFFFF;
  text-align: center;
  width: 14.6vw;
  padding: 0.9vw 1vw;
  &.active {
    background-color: #FFFFFF;
    border: 1px solid #FFFFFF;
    color: #000000;
  }
  @media screen and (min-width: $fullscreen) {
    font-size: 19px;
    line-height: 23px;
    width: 222px;
    padding: 14px 15px;
  }
  @media screen and (max-width: $mobile) {
    font-size: 3.9vw;
    line-height: 4.6vw;
    width: auto;
    padding: 2.1vw 3vw;
  }
}
.services_term_body {
  padding: 3.5vw 2vw 4.8vw;
  border: 1px solid #DBDBDB;
  border-top: none;
  border-radius: 0 0 30px 30px;
  @media screen and (min-width: $fullscreen) {
    padding: 53px 30px 73px;
  }
  @media screen and (max-width: $mobile) {
    padding: 9.4vw 4.6vw 4.8vw;
  }
}
.services_term_line {
  background-color: #BFBFBF;
  width: 100%;
  height: 1px;
  margin: 3.9vw 0 2.6vw;
  @media screen and (min-width: $fullscreen) {
    margin: 59px 0 40px;
  }
  @media screen and (max-width: $mobile) {
    margin: 4.6vw 0 7vw;
  }
}
.services_term_body_item_title {
  font-size: 2.15vw;
  line-height: 2.6vw;
  font-weight: 500;
  @media screen and (min-width: $fullscreen) {
    font-size: 33px;
    line-height: 40px;
  }
  @media screen and (max-width: $mobile) {
    font-size: 5.8vw;
    line-height: 5.8vw;
    max-width: 50vw;
  }
}
.services_term_body_item_title_span {
  display: inline-block;
  font-weight: 500;
  @media screen and (max-width: $mobile) {
    font-size: 3.8vw;
    line-height: 5.1vw;
  }
}
.services_term_body_grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  grid-gap: 6.4vw;
  max-width: 1700px;
  @media screen and (min-width: $fullscreen) {
    gap: 97px;
  }
  @media screen and (max-width: $mobile) {
    grid-template-columns: 1fr;
    grid-gap: 8vw;
  }
}
.services_term_body_grid_item_title {
  font-size: 1.6vw;
  line-height: 2vw;
  font-weight: 500;
  margin-bottom: 0.6vw;
  max-width: 22vw;
  @media screen and (min-width: $fullscreen) {
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 9px;
    max-width: 334px;
  }
  @media screen and (max-width: $mobile) {
    font-size: 5.1vw;
    line-height: 6vw;
    margin-bottom: 3.1vw;
    max-width: 72vw;
  }
}
.services_term_body_grid_item_p {
  font-size: 1.25vw;
  line-height: 1.5vw;
  @media screen and (min-width: $fullscreen) {
    font-size: 19px;
    line-height: 23px;
  }
  @media screen and (max-width: $mobile) {
    font-size: 3.4vw;
    line-height: 4.3vw;
  }
}