$bigfullscreen: 1900px;
$fullscreen: 1520px;
$mobile: 768px;
.faq {
  display: flex;
  margin-bottom: 4.3vw;
  @media screen and (min-width: $fullscreen) {
    margin-bottom: 65px;
  }
  @media screen and (max-width: $mobile) {
    flex-direction: column;
    margin-bottom: 10vw;
  }
}
.faq_title {
  font-size: 2.8vw;
  line-height: 3.1vw;
  width: 36%;
  @media screen and (min-width: $fullscreen) {
    font-size: 42px;
    line-height: 47px;
  }
  @media screen and (max-width: $mobile) {
    font-size: 6.7vw;
    line-height: 7.7vw;
    margin-bottom: 7vw;
    width: 100%;
  }
}
.faq_items {
  width: 64%;
  @media screen and (min-width: $fullscreen) {
  }
  @media screen and (max-width: $mobile) {
    width: 100%;
  }
}
.faq_item_title {
  font-size: 1.45vw;
  line-height: 1.7vw;
  @media screen and (min-width: $fullscreen) {
    font-size: 22px;
    line-height: 26px;
  }
  @media screen and (max-width: $mobile) {
    font-size: 4.3vw;
    line-height: 5.3vw;
  }
}