$bigfullscreen: 1900px;
$fullscreen: 1520px;
$mobile: 768px;
@keyframes popupMessage {
  0% {
    opacity: 0;
    bottom: -5vw;
  }
  80% {
    opacity: 1;
    bottom: 0.3vw;
  }
  100% {
    bottom: 0;
  }
}
.services_decision {
  display: grid;
  grid-template-columns: 49% 38%;
  grid-template-rows: auto 26.5vw;
  grid-gap: 2.4vw 13%;
  margin-bottom: 5.6vw;
  &.services_decision_house {
    grid-template-rows: auto 32.5vw;
    .services_decision_cons {
      margin-bottom: 6vw;
    }
  }
  @media screen and (min-width: $fullscreen) {
    grid-template-rows: auto 403px;
    grid-gap: 36px 13%;
    margin-bottom: 85px;
    &.services_decision_house {
      grid-template-rows: auto 494px;
      .services_decision_cons {
        margin-bottom: 91px;
      }
    }
  }
  @media screen and (max-width: $mobile) {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
    grid-gap: 8.7vw;
    &.services_decision_house {
      grid-template-rows: inherit;
      .services_decision_cons {
        margin-bottom: 27.8vw;
      }
    }
  }
}
.services_decision_text_title {
  font-size: 2.8vw;
  line-height: 3.1vw;
  margin-bottom: 3.3vw;
  max-width: 39vw;
  @media screen and (min-width: $fullscreen) {
    font-size: 43px;
    line-height: 47px;
    margin-bottom: 50px;
    max-width: 593px;
  }
  @media screen and (max-width: $mobile) {
    font-size: 6.8vw;
    line-height: 7.7vw;
    margin-bottom: 4.8vw;
    max-width: 73vw;
  }
}
.services_decision_text_p {
  font-size: 1.25vw;
  line-height: 1.8vw;
  margin-bottom: 1vw;
  &:last-child {
    margin-bottom: 0;
  }
  @media screen and (min-width: $fullscreen) {
    font-size: 19px;
    line-height: 27px;
    margin-bottom: 15px;
  }
  @media screen and (max-width: $mobile) {
    font-size: 3.4vw;
    line-height: 5.1vw;
    margin-bottom: 2.4vw;
  }
}
.services_decision_cons {
  border-radius: 0px 30px 30px 0px;
  background-image: url(../../images/services/remont_cons_dmitry.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 4.6vw 1.5vw 1.8vw 2vw;
  position: relative;
  overflow: hidden;
  @media screen and (min-width: $fullscreen) {
    padding: 70px 23px 27px 30px;
  }
  @media screen and (max-width: $mobile) {
    padding: 5.6vw 3.1vw 6.5vw;
    display: flex;
    flex-direction: column-reverse;
    position: relative;
    margin-bottom: 27.8vw;
    overflow: initial;
  }
}
.services_decision_cons_status {
  font-size: 1.25vw;
  line-height: 1.5vw;
  text-align: right;
  color: #FFFFFF;
  margin-left: auto;
  max-width: 19.1vw;
  margin-bottom: 1.6vw;
  @media screen and (min-width: $fullscreen) {
    font-size: 19px;
    line-height: 23px;
    max-width: 290px;
    margin-bottom: 24px;
  }
  @media screen and (max-width: $mobile) {
    font-size: 3.4vw;
    line-height: 3.9vw;
    max-width: 38.6vw;
    margin-bottom: 0;
    margin-top: 3.1vw;
  }
}
.services_decision_cons_block {
  background: rgba(0, 0, 0, 0.8);
  border: 1px solid #6B6B6B;
  border-radius: 30px 30px 30px 0px;
  padding: 1.8vw 1.8vw 2.1vw;
  margin-left: auto;
  max-width: 23.6vw;
  position: relative;
  opacity: 0;
  &.active {
    animation: popupMessage 0.7s;
    opacity: 1;
  }
  @media screen and (min-width: $fullscreen) {
    padding: 27px 27px 32px;
    max-width: 360px;
  }
  @media screen and (max-width: $mobile) {
    background: none;
    border: none;
    padding: 0;
    max-width: 43vw;
    position: static;
    &.active {
      animation: none;
    }
  }
}
.services_decision_cons_text {
  @media screen and (max-width: $mobile) {
    background: rgba(0, 0, 0, 0.8);
    border: 1px solid #6B6B6B;
    border-radius: 30px 30px 30px 0px;
    padding: 5.1vw 3.1vw 3.6vw 3.6vw;
    position: relative;
    opacity: 0;
    &.active {
      animation: popupMessage 0.7s;
      opacity: 1;
    }
  }
}
.services_decision_cons_p {
  font-size: 1.25vw;
  line-height: 1.5vw;
  font-style: italic;
  color: #FFFFFF;
  margin-bottom: 1.25vw;
  @media screen and (min-width: $fullscreen) {
    font-size: 19px;
    line-height: 23px;
    margin-bottom: 19px;
  }
  @media screen and (max-width: $mobile) {
    font-size: 3.4vw;
    line-height: 4.1vw;
    margin-bottom: 0;
  }
}
.services_decision_cons_button {
  border: none;
  font-size: 1.5vw;
  line-height: 1.7vw;
  text-align: center;
  color: #FFFFFF;
  background-color: #2C2C2C;
  border-radius: 8px;
  width: 100%;
  padding: 1.2vw;
  cursor: pointer;
  transition: all 0.5s ease;
  &:hover {
    background-color: #252525;
    transition: all 0.5s ease;
  }
  @media screen and (min-width: $fullscreen) {
    font-size: 23px;
    line-height: 26px;
    padding: 18px;
  }
  @media screen and (max-width: $mobile) {
    position: absolute;
    bottom: -18.8vw;
    left: 0;
    font-size: 4.3vw;
    line-height: 5.3vw;
    padding: 4.6vw;
  }
}
.services_decision_cons_ref {
  position: absolute;
  top: 19vw;
  @media screen and (min-width: $fullscreen) {
    top: 289px;
  }
  @media screen and (max-width: $mobile) {
    top: 35vw;
  }
}
.services_decision_simplebar {
  grid-column: 2/3;
  grid-row: 1/3;
  @media screen and (max-width: $mobile) {
    grid-column: auto;
    grid-row: 2/3;
  }
}
.services_decision_items {
  margin-top: 2.5vw;
  @media screen and (min-width: $fullscreen) {
    margin-top: 38px;
  }
  @media screen and (max-width: $mobile) {
    margin-top: 0;
    display: grid;
    grid-template-columns: repeat(6, 42.3vw);
    grid-template-rows: 1fr;
    grid-gap: 0 1.9vw;
  }
}
.services_decision_item {
  padding-left: 9.4vw;
  background-repeat: no-repeat;
  background-size: 6.5vw;
  background-position: left center;
  margin-bottom: 3.3vw;
  min-height: 6.5vw;
  &:last-child {
    margin-bottom: 0;
  }
  @media screen and (min-width: $fullscreen) {
    padding-left: 143px;
    background-size: 99px;
    margin-bottom: 50px;
    min-height: 99px;
  }
  @media screen and (max-width: $mobile) {
    padding-left: 0;
    background-size: 20.3vw;
    background-position: top 7.2vw left 4.1vw;
    margin-bottom: 0;
    min-height: auto;
    border: 1px solid #EAEAEA;
    border-radius: 30px;
    padding: 32.6vw 3.8vw 5.6vw 4.1vw;
  }
}
.services_decision_item1 {
  background-image: url(../../images/services/remont_icons/remont_icon1.svg);
}
.services_decision_item2 {
  background-image: url(../../images/services/remont_icons/remont_icon2.svg);
  background-size: 7.1vw;
  @media screen and (min-width: $fullscreen) {
    background-size: 108px;
  }
  @media screen and (max-width: $mobile) {
    background-size: 22.4vw;
  }
}
.services_decision_item3 {
  background-image: url(../../images/services/remont_icons/remont_icon3.svg);
}
.services_decision_item4 {
  background-image: url(../../images/services/remont_icons/remont_icon4.svg);
}
.services_decision_item5 {
  background-image: url(../../images/services/remont_icons/remont_icon5.svg);
}
.services_decision_item6 {
  background-image: url(../../images/services/remont_icons/remont_icon6.svg);
}
.services_decision_item7 {
  background-image: url(../../images/services/remont_icons/remont_icon7.svg);
}
.services_decision_item8 {
  background-image: url(../../images/services/remont_icons/remont_icon8.svg);
}
.services_decision_item9 {
  background-image: url(../../images/services/remont_icons/remont_icon9.svg);
}
.services_decision_item_title {
  font-size: 1.7vw;
  line-height: 2vw;
  font-weight: 500;
  margin-bottom: 1vw;
  @media screen and (min-width: $fullscreen) {
    font-size: 26px;
    line-height: 30px;
    margin-bottom: 15px;
  }
  @media screen and (max-width: $mobile) {
    font-size: 3.9vw;
    line-height: 4.6vw;
    margin-bottom: 2.6vw;
  }
}
.services_decision_item_p {
  font-size: 1.25vw;
  line-height: 1.7vw;
  max-width: 26vw;
  @media screen and (min-width: $fullscreen) {
    font-size: 19px;
    line-height: 26px;
    // max-width: 395px;
  }
  @media screen and (max-width: $mobile) {
    font-size: 3.4vw;
    line-height: 4.3vw;
    max-width: 100%;
  }
}