$bigfullscreen: 1900px;
$fullscreen: 1520px;
$mobile: 768px;
.services_cost {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto auto;
  background-color: #F5F5F5;
  border-radius: 30px 0 0 30px;
  margin-bottom: 4.4vw;
  @media screen and (min-width: $fullscreen) {
    margin-bottom: 67px;
  }
  @media screen and (max-width: $mobile) {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    background: none;
    border-radius: 0;
    margin-bottom: 10.9vw;
  }
}
.services_facade_cost {
  @media screen and (max-width: $mobile) {
    .services_cost_text {
      grid-column: 1/2;
      grid-row: 2/3;
      margin-bottom: 5vw;
    }
  }
}
.services_cost_title {
  font-size: 2.8vw;
  line-height: 3.1vw;
  padding: 4.6vw 5vw 4.4vw 2.4vw;
  max-width: 49vw;
  @media screen and (min-width: $fullscreen) {
    font-size: 43px;
    line-height: 47px;
    padding: 70px 61px 67px 36px;
    // padding: 4.6vw 5vw 4.4vw 36px;
    max-width: 745px;
  }
  @media screen and (max-width: $mobile) {
    font-size: 6.7vw;
    line-height: 7.7vw;
    padding: 0;
    padding-bottom: 5.8vw;
    padding-right: 10vw;
    max-width: 100%;
  }
}
.services_cost_text {
  padding-left: 2.4vw;
  padding-bottom: 4.3vw;
  @media screen and (min-width: $fullscreen) {
    padding-left: 36px;
  }
  @media screen and (max-width: $mobile) {
    padding-left: 0;
    padding-bottom: 0;
  }
}
.services_cost_text_p {
  font-size: 1.25vw;
  line-height: 1.8vw;
  max-width: 33vw;
  @media screen and (min-width: $fullscreen) {
    font-size: 19px;
    line-height: 27px;
    max-width: 502px;
  }
  @media screen and (max-width: $mobile) {
    font-size: 3.4vw;
    line-height: 4.3vw;
    max-width: 100%;
  }
}
.services_cost_link {
  font-size: 1.45vw;
  line-height: 1.7vw;
  text-align: center;
  color: #FFFFFF;
  padding: 1.2vw 3.3vw;
  background-color: #2C2C2C;
  border-radius: 8px;
  margin-top: 1.8vw;
  @media screen and (min-width: $fullscreen) {
    font-size: 22px;
    line-height: 26px;
    padding: 18px 50px;
    margin-top: 27px;
  }
  @media screen and (max-width: $mobile) {
    font-size: 4.3vw;
    line-height: 5.3vw;
    padding: 4.6vw 3.3vw;
    width: 100%;
    margin-top: 4.8vw;
  }
}
.services_cost_price {
  font-size: 3.1vw;
  line-height: 3.1vw;
  font-weight: 500;
  margin-bottom: 1.2vw;
  @media screen and (min-width: $fullscreen) {
    font-size: 47px;
    line-height: 47px;
    margin-bottom: 18px;
  }
  @media screen and (max-width: $mobile) {
    font-size: 7.1vw;
    line-height: 10.1vw;
    margin-bottom: 3.2vw;
  }
}
.services_cost_image {
  grid-column: 2/3;
  grid-row: 1/3;
  background-image: url(../../images/services/services_cost_sergey.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 2.15vw;
  padding-right: 1.8vw;
  @media screen and (min-width: $fullscreen) {
    padding-top: 33px;
    padding-right: 27px;
  }
  @media screen and (max-width: $mobile) {
    grid-column: auto;
    grid-row: auto;
    padding: 7vw 3.4vw 6.5vw 0;
    border-radius: 0px 30px 30px 0px;
    margin-bottom: 5.3vw;
  }
}
.services_cost_image_status {
  font-size: 1.25vw;
  line-height: 1.8vw;
  text-align: right;
  color: #FFFFFF;
  max-width: 14vw;
  margin-left: auto;
  margin-bottom: 2.4vw;
  @media screen and (min-width: $fullscreen) {
    font-size: 19px;
    line-height: 27px;
    max-width: 213px;
    margin-bottom: 36px;
  }
  @media screen and (max-width: $mobile) {
    font-size: 3.4vw;
    line-height: 3.9vw;
    max-width: 38vw;
    margin-bottom: 12.1vw;
  }
}
.services_cost_image_text {
  font-size: 1.25vw;
  line-height: 1.5vw;
  font-style: italic;
  color: #FFFFFF;
  background: rgba(0, 0, 0, 0.7);
  border: 1px solid #6B6B6B;
  max-width: 21.7vw;
  padding: 2.6vw 2.1vw;
  border-radius: 34px 34px 34px 0;
  margin-left: auto;
  @media screen and (min-width: $fullscreen) {
    font-size: 19px;
    line-height: 23px;
    max-width: 330px;
    padding: 40px 32px;
  }
  @media screen and (max-width: $mobile) {
    font-size: 3.4vw;
    line-height: 3.9vw;
    max-width: 53.6vw;
    padding: 4.8vw 2.1vw;
    border-radius: 0 30px 30px 30px;
  }
}