$bigfullscreen: 1900px;
$fullscreen: 1520px;
$mobile: 768px;
.breadcrumbs {
  display: flex;
  position: relative;
  padding-left: 4.6vw;
  margin-bottom: 1.25vw;
  &::before {
    content: "";
    position: absolute;
    width: 3.5vw;
    height: 1px;
    left: 0;
    top: 50%;
    transform: translate(0, -50%);
    background-color: #A3A3A3;
  }
  @media screen and (min-width: $fullscreen) {
    padding-left: 70px;
    // margin-bottom: 19px;
    &::before {
      width: 53px;
      // top: 10px;
    }
  }
  @media screen and (max-width: $mobile) {
    padding-left: 12.6vw;
    margin-bottom: 5.1vw;
    &::before {
      width: 9.6vw;
      top: 1.7vw;
    }
  }
}
.breadcrumbs_li {
  font-size: 1.25vw;
  line-height: 1.5vw;
  color: #FFFFFF;
  position: relative;
  &:not(:first-child) {
    padding-left: 2.4vw;
  }
  &:not(:first-child)::before {
    content: "";
    position: absolute;
    width: 1.1vw;
    height: 1px;
    left: 0.6vw;
    // top: 0.65vw;
    top: 50%;
    transform: translate(0, -50%);
    background-color: #E8E8E8;
  }
  @media screen and (min-width: $fullscreen) {
    font-size: 19px;
    line-height: 23px;
    &:not(:first-child) {
      padding-left: 36px;
    }
    &:not(:first-child)::before {
      width: 17px;
      left: 9px;
      // top: 10px;
    }
  }
  @media screen and (max-width: $mobile) {
    font-size: 3.4vw;
    line-height: 4.1vw;
    &:not(:first-child) {
      padding-left: 6.3vw;
    }
    &:not(:first-child)::before {
      width: 2.9vw;
      left: 1.6vw;
      top: 1.7vw;
    }
  }
}