$bigfullscreen: 1900px;
$fullscreen: 1520px;
$mobile: 768px;
.remote {
  display: flex;
  background-color: #28292B;
  border-radius: 15px 30px 30px 15px;
  overflow: hidden;
  margin-bottom: 4.5vw;
  position: relative;
  overflow: hidden;
  @media screen and (min-width: $fullscreen) {
    margin-bottom: 68px;
  }
  @media screen and (max-width: $mobile) {
    flex-direction: column;
    border-radius: 30px;
    margin-bottom: 10vw;
    padding: 10.1vw 10vw 10.9vw 4.3vw;
  }
}
.remote_video {
  display: flex;
  width: 37%;
  max-width: 580px;
  @media screen and (min-width: $fullscreen) {
  }
  @media screen and (max-width: $mobile) {
    width: 100%;
    position: absolute;
    right: 0;
    bottom: 14.5vw;
    width: 46.6vw;
  }
}
.remote_right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 63%;
  padding: 4.3vw 10vw 3.7vw 2.6vw;
  @media screen and (min-width: $fullscreen) {
    padding: 65px 152px 56px 40px;
  }
  @media screen and (min-width: $bigfullscreen) {
    padding: 103px 30px 97px 116px;
  }
  @media screen and (max-width: $mobile) {
    width: 100%;
    padding: 0;
  }
}
.remote_right_title {
  font-size: 3.1vw;
  line-height: 3.5vw;
  color: #FFFFFF;
  max-width: 34.7vw;
  margin-bottom: 2vw;
  @media screen and (min-width: $fullscreen) {
    font-size: 47px;
    line-height: 53px;
    max-width: 527px;
    margin-bottom: 30px;
  }
  @media screen and (max-width: $mobile) {
    font-size: 6.7vw;
    line-height: 7.7vw;
    max-width: 100%;
    margin-bottom: 4.8vw;
  }
}
.remote_right_text {
  margin-bottom: 3.5vw;
  max-width: 47.5vw;
  @media screen and (min-width: $fullscreen) {
    margin-bottom: 53px;
    max-width: 800px;
  }
  @media screen and (max-width: $mobile) {
    margin-bottom: 7vw;
    max-width: 100%;
  }
}
.remote_right_text_p {
  font-size: 1.25vw;
  line-height: 1.8vw;
  color: #FFFFFF;
  @media screen and (min-width: $fullscreen) {
    font-size: 19px;
    line-height: 27px;
  }
  @media screen and (max-width: $mobile) {
    font-size: 3.4vw;
    line-height: 3.9vw;
    margin-bottom: 3.6vw;
    &:last-child {
      margin-bottom: 0;
    }
  }
}
.remove_right_speak {
  display: flex;
  align-items: center;
  gap: 0.6vw;
  border: 1px solid #626262;
  border-radius: 30px;
  padding: 1.8vw 2.7vw 1.8vw 4.4vw;
  position: relative;
  max-width: 47.5vw;
  &::before {
    content: "";
    position: absolute;
    width: 1.46vw;
    height: 2.2vw;
    left: 1.5vw;
    top: 50%;
    transform: translate(0, -50%);
    background-image: url(../../svg/microphone.svg);
    background-repeat: no-repeat;
    background-size: contain;
  }
  @media screen and (min-width: $fullscreen) {
    padding: 27px 41px 27px 67px;
    max-width: 800px;
    gap: 9px;
    &::before {
      width: 22px;
      height: 33px;
      left: 23px;
    }
  }
  @media screen and (max-width: $mobile) {
    border: none;
    padding: 0;
    max-width: 35.7vw;
    margin-top: 46.6vw;
    align-items: flex-start;
    flex-direction: column;
    gap: 1vw;
    &::before {
      width: 9.8vw;
      height: 15.7vw;
      transform: none;
      background-image: url(../../svg/microphone_mob.svg);
      top: -29.5vw;
      left: 12.6vw;
    }
    &::after {
      content: "";
      position: absolute;
      left: 0;
      top: -40vw;
      border-radius: 30px;
      border: 1px solid #626262;
      padding: 17.3vw;
    }
  }
}
.remove_right_speak_p {
  font-size: 1.25vw;
  line-height: 1.25vw;
  color: #BDBDBD;
  @media screen and (min-width: $fullscreen) {
    font-size: 19px;
    line-height: 19px;
  }
  @media screen and (max-width: $mobile) {
    font-size: 3.4vw;
    line-height: 3.9vw;
  }
}
.remove_right_speak_flags {
  display: flex;
  gap: 0.6vw;
  @media screen and (min-width: $fullscreen) {
    gap: 9px;
  }
  @media screen and (max-width: $mobile) {
    gap: 1.4vw;
  }
}
.remove_right_speak_flag1 {
  width: 2vw;
  height: 1.5vw;
  background-image: url(../../images/flag_1.png);
  background-repeat: no-repeat;
  background-size: contain;
  @media screen and (min-width: $fullscreen) {
    width: 30px;
    height: 23px;
  }
  @media screen and (max-width: $mobile) {
    width: 4.1vw;
    height: 3.1vw;
  }
}
.remove_right_speak_flag2 {
  width: 2vw;
  height: 1.5vw;
  background-image: url(../../images/flag_2.png);
  background-repeat: no-repeat;
  background-size: contain;
  @media screen and (min-width: $fullscreen) {
    width: 30px;
    height: 23px;
  }
  @media screen and (max-width: $mobile) {
    width: 4.1vw;
    height: 3.1vw;
  }
}